Flask==2.3.3
Werkzeug==2.3.7
python-dotenv==1.0.1
flask-cors==4.0.0

paddlepaddle
paddleocr
opencv-python-headless
Pillow
pypdfium2
numpy
python-dateutil==2.8.2
gunicorn==21.2.0

google-generativeai

# Dev Dependencies
pytest==8.0.0
ruff==0.3.0
mypy==1.8.0
types-python-dateutil
types-Flask-Cors